/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Yanone;
    src: url(./fonts/YanoneKaffeesatz-VariableFont_wght.ttf);
}

body {
    font-family: Yanone;
    color: rgb(44, 42, 42);
}